doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/schematic_form.css' type='text/css')
    
    - const imageSrc = `/schematics/${schematic.id}/image`
    
    meta(property="og:title" content="Request Deletion of a Schematic")
    meta(property="og:description" content="Submit a request to delete a schematic. ")
    meta(property="og:image" content=imageSrc)
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:site_name" content="Mindustry Schematics")

    meta(name="viewport" content="width=device-width" intialscale="1.0")
  body
    h1 Delete a Schematic
    hr

    h1= '[Schematic]' + schematic.name
    hr
    - const src = `/raw/schematics/${schematic._id}/image`
    img(src=src width="166px" height="166px")
    h3= 'by ' + schematic.creator || schematic.author
    h4= 'Description: ' + schematic.description

    - const action = `/api/schematics/${schematic._id}/delete`

    form#onSubmitLoadingScreen(action=action method="POST" encType="multipart/form-data")
      div.inputs
        label(for="reason") Reason: 
        textarea.rounded-input(type="text" name="reason" id="reason" placeholder="Why should this schematic be removed?" required)
      div.notched.btn
        button(type="submit" name="submit") Submit Deletion Request

    div#bottom
      a(href="/schematics")
        div.notched.btn
          button.small Back to Schematics

    include includes/loadingScreen.pug

    script(src="/js/form_schematic.js")