doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/schematic_form.css' type='text/css')
    
    - const imageSrc = `/schematics/${schematic.id}/image`
    
    meta(property="og:title" content="Request a Change on a Existing Schematic. ")
    meta(property="og:description" content="Submit a request to modify a schematic.")
    meta(property="og:image" content=imageSrc)
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:site_name" content="Mindustry Schematics Database")
  body
    h1 Edit a Schematic
    hr
    - const action = `/schematics/${schematic.id}/edit`
    form(action=action method="POST" encType="multipart/form-data")
      input.rounded-input(type="text" name="name" id="name" placeholder="Name" value=schematic.name required)
      br
      input.rounded-input(type="text" name="author" id="author" placeholder="Creator" value=schematic.author required)
      br
      label(for="image_upload") For now you will have to re- Upload/Paste a Image
      input#image.rounded-input(type="file" name="image" accept="image/*" required)
      div#image_preview
      
      br
      textarea.rounded-input(type="text" name="text" id="text" placeholder="Copy Paste Text" required)= schematic.text
      br
      textarea.rounded-input(type="text" name="description" id="description" placeholder="Description" required)= schematic.description
      br
      textarea.rounded-input(type="text" name="cDescription" id="text" placeholder="Description of what was changed and why?" required)
      br
      input.rounded-input(type="submit" name="submit" value="Submit Edit Request")
      br
      br
      br
    div#bottom
      button.small(onclick='window.location.href="/schematics"') Back to Schematics

    script(src="/js/form_schematic.js")