doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_changes.css' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")
body
  h1 Schematic Changes
  hr
  div.changes
    each change in changes
      - const onclick = `window.location.href="/admin/schematic_changes/${change._id}"`
      - const src = `/raw/schematics/${change.id}/image`
      - const color = change.Delete ? '#fd5f5f' : '#68cf68'
      - const mode = change.Delete ? 'Delete' : 'Modify'
      div.schematic(onclick=onclick)
        h2
          span(style=`color: ${color};`) #{mode}
          span= " " + change.Original.name
        img.schematic_image(src=src)
          

  div#bottom
    div.notched.btn
      button.small(onclick='window.location.href="/admin"') Back to Admin Panel
    div.notched.btn
      button.small(onclick='window.location.href="/schematics"') Schematics
          
  script(src="/js/schematics.js")