doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/core.css' type='text/css')
  link(rel='stylesheet' href='/css/admin.css' type='text/css')
  link(rel='stylesheet' href='/css/schematics.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_changes.css' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")

  title Schematic changes
body
  include mixins/app_bar
  +app_bar("user")
  h1.title Schematic Changes
  div.changes
    each change in changes
      - const href = `/admin/schematic_changes/${change._id}`
      - const src = `/raw/schematics/${change.id}/image`
      - const color = change.Delete ? '#fd5f5f' : '#68cf68'
      - const mode = change.Delete ? 'Delete' : 'Modify'
      a(href=href): div.schematic
        h2
          span(style=`color: ${color};`) #{mode}
          span= " " + change.Original.name
        img.schematic_image(src=src)
          

  footer 
    a(href="/user")
        button.icon_text.back 
          img(src="/assets/arrow.svg")
          span Back
          
  script(src="/js/schematics.js")