doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_change' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")
body
  h1= '[Schematic Change]' + change.id
  hr
  if change.Delete
    span(style="color: red") DELETE
    
    br
    
    h2= "Reason: " + change.Delete
    
    h1= "Name: " + change.Original.name
    
    - const src = `/raw/schematics/${change.id}/image`
    img(src=src width="166px" height="166px")
    h3= 'by ' + change.Original.author
    h4= 'Description: ' + change.Original.description
    h4 Copy the text below to import: 
    p= change.Original.text
  else
    span(style="color: green") MODIFY
    
    br
    br
    
    div#schematics
      div.left
        h2= "Name: " + change.Original.name
      
        - const srcO = `/raw/schematics/${change.id}/image`
        img(src=srcO width="166px" height="166px")
        h3= 'by ' + change.Original.author
        h4= 'Description: ' + change.Original.description
        h4 Original schematic Text: 
        p= change.Original.text
        
      img(src="/images/green_arrow_right.png" width="128px" height="128px" style="border: none;")
      
      div.right
        h2= "Name: " + change.Changed.name
      
        - const srcC = `/admin/schematic_changes/${change._id}/image/Changed`
        img(src=srcC width="166px" height="166px")
        h3= 'by ' + change.Changed.author
        h4= 'Description: ' + change.Changed.description
        h4 New Schematic Text: 
        p= change.Changed.text
        
      h4= "What and Why: " + change.Description
    
    br
    br
    br
      
  div#bottom
    - const view = `window.location.href="/schematics/${change.id}"`
    - const accept = `window.location.href="/admin/schematic_changes/${change._id}/accept"`
    - const decline = `window.location.href="/admin/schematic_changes/${change._id}/decline"`
    div.notched.btn
      button.small(onclick='window.location.href="/admin/schematic_changes"') Back to Schematic Changes
    div.notched.btn
      button.small(onclick=view) View
    div.notched.btn
      button.small(onclick=accept) Accept
    div.notched.btn
      button.small(onclick=decline) Decline
    


