doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_change.css' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")
body
  h1= '[Schematic Change] ' + change.id
  hr
  if change.Delete
    span(style="color: #fd5f5f") Delete
    
    br
    
    h2= "Reason: " + change.Delete
    
    h1= "Name: " + change.Original.name
    
    - const src = `/raw/schematics/${change.id}/image`
    img(src=src width="166px" height="166px")
    h3= 'by ' + change.Original.creator
    h4= 'Description: ' + change.Original.description
    h4 Copy the text below to import: 
    p= change.Original.text
  else
    h2(style="color: green") Modify
    
      h4= "What and Why: " + change.Description
    div#schematics
      h2.left= "Name: " + change.Original.name
      
      - const srcO = `/raw/schematics/${change.id}/image`
      img.left(src=srcO width="166px" height="166px")
      h3.left= 'by ' + change.Original.creator
      h4.left= 'Description: ' + change.Original.description
      h4.left Original schematic Text: 
      p.left= change.Original.text
        
      img.arrow(src="/images/arrow.svg" width="128px" height="128px" style="border: none;")
      
      h2.right= "Name: " + change.Changed.name
    
      - const srcC = `/raw/schematic-changes/${change._id}/image`
      img.right(src=srcC width="166px" height="166px")
      h3.right= 'by ' + change.Changed.creator
      h4.right= 'Description: ' + change.Changed.description
      h4.right New Schematic Text: 
      p.right= change.Changed.text
    
    br
    br
    br
      
  div#bottom
    - const view = `window.location.href="/schematics/${change.id}"`
    - const accept = `window.location.href="/admin/schematic_changes/${change._id}/accept"`
    - const decline = `window.location.href="/admin/schematic_changes/${change._id}/decline"`
    div.notched.btn
      button.small(onclick='window.location.href="/admin/schematic_changes"') Back to Schematic Changes
    div.notched.btn
      button.small(onclick=view) View
    div.notched.btn
      button.small(onclick=accept) Accept
    div.notched.btn
      button.small(onclick=decline) Decline
    


