doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/core.css' type='text/css')
  link(rel="stylesheet", href="/css/admin.css")
  link(rel='stylesheet' href='/css/tags.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_change.css' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")

  title Change a schematic
body
  include mixins/app_bar.pug
  +app_bar("admin")
  mixin actions()
    div.actions
      - const view = `/schematics/${change.id}`
      - const accept = `/admin/schematic_changes/${change._id}/accept`
      - const decline = `/admin/schematic_changes/${change._id}/decline`
      a(href=view)
        div.notched.btn
          button.small View
      a(href=accept)
        div.notched.btn
          button.small Accept
      a(href=decline)
        div.notched.btn
          button.small Decline
  h1.title [Schematic Change]
  if change.Delete
    h3.mode(style="color: #fd5f5f") Delete
    
    h4.reason= "Reason: " + change.Delete
    
    div.schematic.delete
      h1.name= change.Original.name

      - const src = `/raw/schematics/${change.id}/image`
      img.preview(src=src)
      h3.creator= 'by ' + change.Original.creator
      h4.description !{change.Original.description}
      if originalTags
        div.tags
          each tag in originalTags
            div.tag(style=`--color: ${tag.color}`): div.layer: span #{tag.name}
      +actions()
  else
    h3.mode(style="color: green") Modify
    
      h4.reason What and Why: !{change.Description}
    div#schematics
      div.schematic.modify
        - let different
        h1.name
          each diff in diffs.name
            - const mode  = diff.added ? "added" : diff.removed ? "removed" : "unmodified"
            span(class=mode)=diff.value
        div.preview
          figure(class=differentImages ? "removed": "unmodified")
            img(src=`/raw/schematic-changes/${change.id}/image/original`)
          if differentImages
            figure.added
              img(src=`/raw/schematic-changes/${change.id}/image/changed`)
        div.creator
          span='by '
          each diff in diffs.creator
            - const mode  = diff.added ? "added" : diff.removed ? "removed" : "unmodified"
            span(class=mode)=diff.value

        div.description
          each diff in diffs.description
            - const mode  = diff.added ? "added" : diff.removed ? "removed" : "unmodified"
            span(class=mode)=diff.value

        div.tags
          each diff in diffs.tags
            - const mode  = diff.added ? "added" : diff.removed ? "removed" : "unmodified"
            - const tags = diff.value
            each tag in tags
              div.tag(style=`--color: ${tag.color}` class=mode): div.layer: span #{tag.name}

        +actions()

  footer
    a(href="/admin/schematic_changes")
      div.notched.btn
        button.icon_text.back
          img(src="/assets/arrow.svg")
          span Back 
    


