doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_changes.css' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")
body
  h1 Schematic Changes
  hr
  div.changes
    each change in changes
      - const href = `/admin/schematic_changes/${change._id}`
      - const src = `/raw/schematics/${change.id}/image`
      - const color = change.Delete ? '#fd5f5f' : '#68cf68'
      - const mode = change.Delete ? 'Delete' : 'Modify'
      a(href=href): div.schematic
        h2
          span(style=`color: ${color};`) #{mode}
          span= " " + change.Original.name
        img.schematic_image(src=src)
          

  div#bottom
    a(href="/admin")
      div.notched.btn
        button.small Back to Admin Panel
    a(href="/schematics")
      div.notched.btn
        button.small Schematics
          
  script(src="/js/schematics.js")