doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/core.css' type='text/css')
  link(rel="stylesheet", href="/css/admin.css")
  link(rel='stylesheet' href='/css/tags.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic_change.css' type='text/css')

  meta(name="viewport" content="width=device-width" intialscale="1.0")

  title Change a schematic
body
  include mixins/app_bar.pug
  +app_bar("admin")
  mixin actions()
    div.actions
      - const view = `/schematics/${change.id}`
      - const accept = `/admin/schematic_changes/${change._id}/accept`
      - const decline = `/admin/schematic_changes/${change._id}/decline`
      a(href=view)
        div.notched.btn
          button.small View
      a(href=accept)
        div.notched.btn
          button.small Accept
      a(href=decline)
        div.notched.btn
          button.small Decline
  h1.title [Schematic Change]
  if change.Delete
    h3.mode(style="color: #fd5f5f") Delete
    
    h4.reason= "Reason: " + change.Delete
    
    div.schematic.delete
      h1.name= change.Original.name

      - const src = `/raw/schematics/${change.id}/image`
      img.preview(src=src)
      h3.creator= 'by ' + change.Original.creator
      h4.description !{change.Original.description}
      if originalTags
        div.tags
          each tag in originalTags
            div.tag(style=`--color: ${tag.color}`): div.layer: span #{tag.name}
      +actions()
  else
    h3.mode(style="color: green") Modify
    
      h4.reason What and Why: !{change.Description}
    div#schematics
      div.schematic.modify
        - let different
        div.name
          - different = change.Original.name != change.Changed.name
          h1.name(class=`${different ? "original": ""}`)= change.Original.name
          if different
            h1.name.changed= change.Changed.name
        
        img.preview(src=`/raw/schematics/${change.id}/image`)

        div.creator
          - different = change.Original.creator != change.Changed.creator
          h3.creator(class=`${different ? "original": ""}`)= 'by ' + change.Original.creator
          if different
            h3.creator.changed= 'by ' + change.Changed.creator

        div.description
          - different = change.Original.description != change.Changed.description
          h4(class=`${different ? "original": ""}`) !{change.Original.description}
          if different
            h4.changed !{change.Changed.description}

        div.changedTags
          - different = change.Original.tags != change.Changed.tags
          div.tags(class=`${different ? "original": ""}`)
            each tag in originalTags
              div.tag(style=`--color: ${tag.color}`): div.layer: span #{tag.name}
          if different
            div.tags.changed
              each tag in changedTags
                div.tag(style=`--color: ${tag.color}`): div.layer: span #{tag.name}
        +actions()

  footer
    a(href="/admin/schematic_changes")
      div.notched.btn
        button.icon_text.back
          img(src="/assets/arrow.svg")
          span Back 
    


