doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/schematics.css' type='text/css')
body
  div#head
    h1 Schematics
    hr
    input#schematics_search(type="text" onkeyup="keyUp()" placeholder="Search for schematics...")

  div#schematics_result
    each schematic in schematics
      - const info = `window.location.href="/schematics/${schematic.id}/info"`
      - const copy = `copy("${schematic.text}")`
      - const edit = `window.location.href="/schematics/${schematic.id}/edit"`
      - const _delete = `window.location.href="/schematics/${schematic.id}/delete"`

      div.schematic
        div.tools
          button.icon(onclick=info): img(src="/assets/info.png")
          button.icon(onclick=copy): img(src="/assets/copy.png")
          button.icon(onclick=edit): img(src="/assets/pencil.png")
          button.icon(onclick=_delete): img(src="/assets/trash.png") 
        div
          div.name
            h2= schematic.name
          - const src = `/schematics/${schematic.id}/image`
          img(src=src)

  div#bottom
    button.small(onclick='window.location.href="/"') Back to Home
    button.small(onclick='window.location.href="/tutorials/import-schematic-from-clipboard"') Importing Schematic from Clipboard?
    button.small(onclick='window.location.href="/schematics/create"') Create a Schematic
          
  script(src="/js/schematics.js")


