doctype html
html
  head
    include includes/head

    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/tutorial.css' type='text/css')
    
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)

    meta(name="viewport" content="width=device-width" intialscale="1.0")
    
    title= title 
  body
    article !{html}
    nav#bottom
      a(href="/tutorials")
        div.notched.btn
          button.small Back to Tutorials


