doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/tutorial.css' type='text/css')
  
  meta(property="og:title" content=title)
  meta(property="og:description" content=description)
  meta(property="og:image" content="/assets/mindustry_banner.png")
  meta(property="og:type" content="website")
  meta(property="og:url" content=url)
  meta(property="og:site_name" content="Mindustry Schematics")

  meta(name="viewport" content="width=device-width" intialscale="1.0")

  title= title 
body
  h1 #{title}
  
  - var step_number = 1
  ul
    each step of steps
      li
        h2 Step #{step_number}: #{step.name}
        img(src=step.image)
        p #{step.text}

        - step_number++

  nav#bottom
    a(href="/tutorials")
      div.notched.btn
        button.small Back to Tutorials


