doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/core.css")
    
    script(src="/js/login.js")
  
    title User 
  body
    include mixins/app_bar
    +app_bar("user")
    
    if user
      h2= `Welcome back ${user.name}`
      
      form(action="/user/logout" method="POST")
        input(type="submit" value="Logout")
        
      if isMod
        button(onclick="window.location.href='/admin'") Admin Panel
        
      if isAdmin
        for u in users
          form.users(action=`/user/${u.token}` method="POST")
            input(type="text" name="username" value=u.username)
            input(type="text" name="token" value=u.token readonly)
            select(name="access")
              if u.access == "admin"
                option(value="admin" selected) Admin
              else
                option(value="admin") Admin
              if u.access == "mod"
                option(value="mod" selected) Mod
              else
                option(value="mod") Mod
            a(class="regenerate" onclick=`regenerateToken("${u.token}")`) Regenerate Token
            input(type="submit" value="Save")
          br
        
    else
      form(action="/user/login" method="POST")
        input(name="token" type="text" placeholder="Enter your token here..." required)
        input(type="submit" value="Login")
      
      