doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/next/css/core.css")
    link(rel="stylesheet", href="/next/css/tutorial.css")

    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
  body
    include ../mixins/app_bar
    +app_bar("help")
    main
      article !{html}
    footer
      a(href="/next/help")
        button.icon_text.back
          img(src="/assets/arrow.svg")
          span Back