mixin app_bar(page)
  - let isAdmin = page == "admin"
  //- this is used by the css to know how much the panel should expand
  //- on mobile devices
  - let items = 5 + isAdmin
  nav
    ul(style=`--items: ${items}`)
      if isAdmin
        a.selected(href="/admin")
          li Admin Panel
      a(href="/" class=`${page=='schematics' ? 'selected': ''}`) 
        li Schematics
      a(href="https://logic.mindustryschematics.com" class=`${page=='logic' ? 'logic': ''}`)
        li Logic Emulator
      a(href="/downloads" class=`${page=='downloads' ? 'selected': ''}`) 
        li Downloads
      a(href="/help" class=`${page=='help' ? 'selected': ''}`) 
        li Help
      a(href="/info" class=`${page=='info' ? 'selected': ''}`) 
        li Info
    button.icon.menu
      img(src="/assets/menu.svg")
    block